<% @lists.each do |list| %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="list">
        <ul class="item-right">
          <li><%= button_to "Edit List", edit_list_path(list), method: "get" %></li>
          <li><%= button_to "Delete List", list, method: "delete" %></li>
        </ul>

        <%= link_to list.name, list %>
      </div>
    </div>
  </div>
<% end %>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="create-list-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="create-list-label">Create a new List</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "form", locals: {list: @list, action: "create"} %>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
