<div id="item_error_explanation">
  <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved.</h2>

  <ul>
    <% item.errors.full_messages.each do |error_message| %>
    <li><%= error_message %></li>
    <% end %>
  </ul>
</div>
