// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-right {
  float: right;

  & > li {
    display: inline-block;
    *display: inline;
  }
}

.item {
  min-height: 70px;
  padding: 15px;
  margin: 15px 0;
  background: #CCC;
  transition: 0.5s ease-in-out;

  &:hover {
    background: #CCE;
    min-height: 100px;
  }

  & > ul > li {
    display: inline-block;
    *display: inline;
  }
}
